<ion-header>

  <ion-navbar>
    <ion-title>Text-to-Speech</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
   <ion-item>
     <ion-textarea rows="2" class="padding" [(ngModel)]="text">
     </ion-textarea>
   </ion-item>
   <button clear ion-button (click)="sayText()">Text to Speech
   </button>
   <br>
   <button clear ion-button (click)="sayText1()">CAN YOU HELP ME?
   </button>
   <br>
   <button clear ion-button (click)="sayText2()">EXCUSE ME. CAN I ASK YOU A QUESTION?
   </button>
   <br>
   <button clear ion-button (click)="sayText3()">CAN YOU PLEASE HELP ME CROSS THE STREET?
   </button>
   <br>
   <button clear ion-button (click)="sayText4()">EXCUSE ME? WHICH WAY IS THE RESTROOM?
   </button>
  </ion-list>
 </ion-content>
