<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
        <div class="spacer" style="height: 10px;"></div>
        <ion-item>
          <ion-input type="email" placeholder="Email" [(ngModel)]="credentials.email"></ion-input>
        </ion-item>
        <div class="spacer" style="height: 5px;"></div>
        <ion-item>
          <ion-input type="password" placeholder="Password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
        <div class="spacer" style="height: 10px;"></div>
        <a (click)="passwordreset()">Forgot login details ? <b> Get Help </b></a>
        <div class="spacer" style="height: 10px;"></div>
        <button ion-button block round outline color="light" (click)="signin()">Login</button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  

</ion-content>