<ion-tabs color="hcolor">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="ios-chatbubbles"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Alerts" tabIcon="md-notifications"></ion-tab>
  <ion-tab [root]="tab7Root" tabTitle="Speech" tabIcon="md-megaphone"></ion-tab>
  <ion-tab [root]="tab8Root" tabTitle="Contacts" tabIcon="md-contact"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Location" tabIcon="md-pin"></ion-tab>
</ion-tabs>
