page-passwordreset {

}
page-passwordreset {
    .background {
        background-image: url('<yoururlhere>');
        background-color: #03b6b3;
    }
    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    ion-card.card {
        box-shadow: none;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    a, p,
    ion-card-header.card-header {
        color: #fff!important;
    }
    
    .list > .item-block:first-child {
        border: medium none;
    }
    
    .item {
        margin-bottom: 10px;
        background: rgba(255, 255, 255, 0.5);
        border: medium none;
    
        .text-input, {
            color: #fff;
        }
    
        
        input::-moz-placeholder{
            color: #fff!important;
        }
        input:-moz-placeholder {
            color: #fff!important;
        }
        *:-moz-placeholder{
            color: #fff!important;
        }
        *:-ms-input-placeholder{
            color: #fff!important;
        }
        *::-webkit-input-placeholder{
            color: #fff!important;
        }
    
    }
    
    .icon {
        padding-right: 10px;
    }
    
    .bottom {
        bottom: 0;
    }
    
    .input-cover {
    position: static;
    }
    
    
    }