<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-col>
  <button ion-button round outline icon-only color="secondary" (click)="sendSms(0)"><ion-icon class="size" name="md-medkit"></ion-icon></button>
</ion-col>
<ion-col padding-top>
  <button ion-button round outline icon-only color="secondary" (click)="sendSms(1)"><ion-icon class="size" name="md-compass"></ion-icon></button>
</ion-col>
<ion-col padding-top>
  <button ion-button round outline icon-only color="secondary" (click)="sendSms(2)"><ion-icon class="size" name="md-warning"></ion-icon></button>
</ion-col>

</ion-content>
