<!--
  Generated template for the AlertsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Alerts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
  <ion-item>
      <ion-icon name="flash" item-start></ion-icon>
    <ion-label> Flash Light</ion-label>
    <ion-toggle  checked="false" (ionChange)="toggleFlash()"></ion-toggle>
  </ion-item>
  </ion-list>
  <ion-card>
    <ion-list>
      <button *ngFor="let sound of soundboardData" ion-item [ngStyle]="{'color': sound.button.color}" (tap)="playsound(sound.soundPath)">
        {{sound.button.name}}
      </button>
      </ion-list>
      </ion-card>
</ion-content>
